absl-py==0.12.0
aiohttp==3.7.4.post0
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.22
decorator==4.4.2
defusedxml==0.7.1
detectron2==0.3+cu102
entrypoints==0.3
freetype-py==2.2.0
fsspec==0.8.7
future==0.18.2
fvcore==0.1.5.post20210330
google-auth==1.28.0
google-auth-oauthlib==0.4.4
grpcio==1.36.1
idna==2.10
imageio==2.9.0
importlib-metadata==3.10.0
iopath==0.1.8
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.0
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
oauthlib==3.1.0
olefile==0.46
open3d==0.10.0.0
packaging==20.9
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1615057347459/work
portalocker==2.3.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycparser==2.20
pydot==1.4.2
pyglet==1.5.15
Pygments==2.8.1
PyOpenGL==3.1.0
pyparsing==2.4.7
pyquaternion==0.9.5
pyrender==0.1.43
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorch-lightning==0.8.5
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.0.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scipy==1.6.2
Send2Trash==1.5.0
six @ file:///tmp/build/80754af9/six_1605205313296/work
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
tifffile==2021.3.17
torch==1.5.0
torchmetrics==0.2.0
torchvision==0.6.0a0+82fd1c8
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
trimesh==3.7.6
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
yacs==0.1.8
yarl==1.6.3
zipp==3.4.1
